In [13]:
import pandas as pd
import numpy as np

In [4]:
movie = pd.read_csv('data/movie.csv', nrows = 1000)
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    object
 1   director_name              982 non-null    object
 2   num_critic_for_reviews     998 non-null    float64
 3   duration                   997 non-null    float64
 4   director_facebook_likes    982 non-null    float64
 5   actor_3_facebook_likes     998 non-null    float64
 6   actor_2_name               999 non-null    object
 7   actor_1_facebook_likes     1000 non-null   float64
 8   gross                      965 non-null    float64
 9   genres                     1000 non-null   object
 10  actor_1_name               1000 non-null   object
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int64
 13  cast_total_facebook_likes  1000 non-null   int64
 14  actor_3_name               998 non-null    object
 15  facenumber_in_poster       998 non-null    float64
 16  plot_keywords              992 non-null    object
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float64
 19  language                   998 non-null    object
 20  country                    998 non-null    object
 21  content_rating             986 non-null    object
 22  budget                     961 non-null    float64
 23  title_year                 980 non-null    float64
 24  actor_2_facebook_likes     999 non-null    float64
 25  imdb_score                 1000 non-null   float64
 26  aspect_ratio               990 non-null    float64
 27  movie_facebook_likes       1000 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 218.9+ KB

In [53]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.780273,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.349609,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.349609,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23008.0,8.5,2.349609,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [76]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [77]:
np.finfo('float32')

finfo(resolution=1e-06, min=-3.4028235e+38, max=3.4028235e+38, dtype=float32)

In [78]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [72]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [73]:
np.iinfo('int16')

iinfo(min=-32768, max=32767, dtype=int16)

In [74]:
np.iinfo('int32')

iinfo(min=-2147483648, max=2147483647, dtype=int32)

In [75]:
np.iinfo('int8')

iinfo(min=-128, max=127, dtype=int8)

In [82]:
movie.describe().T

C:\Users\HeeGu\anaconda3\lib\site-packages\numpy\lib\function_base.py:3961: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
C:\Users\HeeGu\anaconda3\lib\site-packages\numpy\lib\function_base.py:3961: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,998.0,inf,inf,1.000000e+00,125.500000,190.000000,293.750000,813.0
duration,997.0,inf,2.615625e+01,2.200000e+01,100.000000,115.000000,130.000000,280.0
director_facebook_likes,982.0,inf,inf,0.000000e+00,14.250000,101.000000,380.000000,22000.0
actor_3_facebook_likes,998.0,inf,inf,0.000000e+00,307.250000,562.000000,854.000000,23008.0
actor_1_facebook_likes,1000.0,inf,NaN,2.000000e+00,980.500000,10000.000000,15000.000000,inf
gross,965.0,inf,NaN,9.216000e+03,NaN,NaN,NaN,inf
num_voted_users,1000.0,-3.818420e+02,1.882251e+04,-3.266900e+04,-17003.000000,94.500000,15779.250000,32666.0
cast_total_facebook_likes,1000.0,1.662582e+04,1.758710e+04,2.000000e+00,2972.000000,12953.000000,22703.250000,108016.0
facenumber_in_poster,998.0,1.224609e+00,1.704102e+00,0.000000e+00,0.000000,1.000000,2.000000,15.0
num_user_for_reviews,998.0,inf,inf,1.000000e+00,194.000000,342.000000,639.000000,5060.0
budget,961.0,inf,NaN,inf,NaN,NaN,NaN,inf
title_year,980.0,inf,6.707031e+00,1.962000e+03,2001.000000,2006.000000,2011.000000,2016.0
actor_2_facebook_likes,999.0,inf,inf,0.000000e+00,555.500000,871.000000,3000.000000,27008.0
imdb_score,1000.0,6.496094e+00,1.000977e+00,2.199219e+00,5.898438,6.500000,7.199219,9.0
aspect_ratio,990.0,2.275391e+00,1.103516e+00,1.330078e+00,1.849609,2.349609,2.349609,16.0
movie_facebook_likes,1000.0,1.593171e+04,3.123175e+04,0.000000e+00,0.000000,606.000000,19000.000000,349000.0

In [83]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    category
 1   director_name              982 non-null    category
 2   num_critic_for_reviews     998 non-null    float16
 3   duration                   997 non-null    float16
 4   director_facebook_likes    982 non-null    float16
 5   actor_3_facebook_likes     998 non-null    float16
 6   actor_2_name               999 non-null    category
 7   actor_1_facebook_likes     1000 non-null   float16
 8   gross                      965 non-null    float16
 9   genres                     1000 non-null   category
 10  actor_1_name               1000 non-null   category
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int16
 13  cast_total_facebook_likes  1000 non-null   int32
 14  actor_3_name               998 non-null    category
 15  facenumber_in_poster       998 non-null    float16
 16  plot_keywords              992 non-null    category
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float16
 19  language                   998 non-null    category
 20  country                    998 non-null    category
 21  content_rating             986 non-null    category
 22  budget                     961 non-null    float16
 23  title_year                 980 non-null    float16
 24  actor_2_facebook_likes     999 non-null    float16
 25  imdb_score                 1000 non-null   float16
 26  aspect_ratio               990 non-null    float16
 27  movie_facebook_likes       1000 non-null   float32
dtypes: category(10), float16(13), float32(1), int16(1), int32(1), object(2)
memory usage: 218.7+ KB

In [71]:
movie = pd.read_csv('data/movie.csv', nrows = 1000,
           dtype = {
                 
                 'num_critic_for_reviews' : np.float16,
                 'duration' : np.float16,
                 'director_facebook_likes' : np.float16,
                 'actor_3_facebook_likes' : np.float16,
                 'actor_1_facebook_likes' : np.float16,
                 'gross' : np.float16,
                 'num_voted_users' : np.int16,
                 'cast_total_facebook_likes' : np.int16,
                 'facenumber_in_poster' : np.float16,
                 'num_user_for_reviews' : np.float16,
                 'budget' : np.float16,
                 'title_year' : np.float16,
                 'actor_2_facebook_likes' : np.float16,
                 'imdb_score' : np.float16,
                 'aspect_ratio' : np.float16,
                 'movie_facebook_likes' : np.float16
                })
                 
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    object
 1   director_name              982 non-null    object
 2   num_critic_for_reviews     998 non-null    float16
 3   duration                   997 non-null    float16
 4   director_facebook_likes    982 non-null    float16
 5   actor_3_facebook_likes     998 non-null    float16
 6   actor_2_name               999 non-null    object
 7   actor_1_facebook_likes     1000 non-null   float16
 8   gross                      965 non-null    float16
 9   genres                     1000 non-null   object
 10  actor_1_name               1000 non-null   object
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int16
 13  cast_total_facebook_likes  1000 non-null   int16
 14  actor_3_name               998 non-null    object
 15  facenumber_in_poster       998 non-null    float16
 16  plot_keywords              992 non-null    object
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float16
 19  language                   998 non-null    object
 20  country                    998 non-null    object
 21  content_rating             986 non-null    object
 22  budget                     961 non-null    float16
 23  title_year                 980 non-null    float16
 24  actor_2_facebook_likes     999 non-null    float16
 25  imdb_score                 1000 non-null   float16
 26  aspect_ratio               990 non-null    float16
 27  movie_facebook_likes       1000 non-null   float16
dtypes: float16(14), int16(2), object(12)
memory usage: 125.1+ KB